<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UML test</title>
  <link rel="stylesheet" href="./bootstrap.css">
  <link rel="stylesheet" href="./mystyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="./jquery-1.11.3.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center h1">统一建模语言理论测试</div>
    </div>
    <form action="" class="form-inline" method="post">
      <div class="panel panel-info">
        <div class="row panel-body text-center">
          <div class="form-group">
            <label for="">科目：</label>
            <input type="text" class="form-control" id="subject" placeholder="统一建模语言" readonly>
          </div>
          <div class="form-group">
            <label for="">时间：</label>
            <input type="text" class="form-control" id="timer" placeholder="100分钟" readonly>
          </div>
          <div class="form-group">
            <label for="score">得分：</label>
            <input type="text" class="form-control" id="score" value="">
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="row panel-body text-center">
          <div class="form-group">
            <label for="userclass">班级：</label>
            <input type="text" class="form-control" id="userclass" placeholder="请输入班级" >
          </div>
          <div class="form-group">
            <label for="username">姓名：</label>
            <input type="text" class="form-control" id="username" placeholder="请输入姓名" >
          </div>
          <div class="form-group">
            <label for="id">学号：</label>
            <input type="usertext" class="form-control" id="userid" placeholder="请输入学号" >
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading h4">一、填空题</div>
        <div class="panel-body">
          1、UML的中文全称是：
          <input type="text" class="form-control" id="gapOne" name="gapOne">。
          <br><br>
          2、对象最突出的特征是：
          <input type="text" class="form-control" id="gapTwo" name="gapTwo">、
          <input type="text" class="form-control" id="gapTwo" name="gapTwo">、
          <input type="text" class="form-control" id="gapTwo" name="gapTwo">。
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading h4">二、选择题</div>
        <div class="panel-body">
          1、UML与软件工程的关系：<input type="text" id="answer1" size="2" readonly><p>
          <div class="radio">
            <label>
              <input type="radio" name="radioOne" id="a1" value="A" >
              A.UML就是软件工程
            </label>
          </div>
          <br><br>
          <div class="radio">
            <label>
              <input type="radio" name="radioOne" id="b1" value="B" >
              B.UML参与到软件工程中软件开发过程的几个阶段
            </label>
          </div>
          <br><br>
          <div class="radio">
            <label>
              <input type="radio" name="radioOne" id="c1" value="C" >
              C.UML与软件工程无关
            </label>
          </div>
          <br><br>
          <div class="radio">
            <label>
              <input type="radio" name="radioOne" id="d1" value="D" >
               D.单继承和多继承都不支持
            </label>
          </div>
          <br><br>
          2、Java语言支持：<input type="text" id="answer2" size="2" readonly><p>
          <div class="radio">
            <label>
              <input type="radio" name="radioTwo" id="a2" value="A" >
              A.单继承
            </label>
          </div>
          <br><br>
          <div class="radio">
            <label>
              <input type="radio" name="radioTwo" id="b2" value="B" >
              B.多继承
            </label>
          </div>
          <br><br>
          <div class="radio">
            <label>
              <input type="radio" name="radioTwo" id="c2" value="C" >
              C.单继承和多继承都支持
            </label>
          </div>
          <br><br>
          <div class="radio">
            <label>
              <input type="radio" name="radioTwo" id="d2" value="D" >
               D.单继承和多继承都不支持
            </label>
          </div>
          <br><br>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading h4">三、多选题</div>
        <div class="panel-body">
          1、用例的粒度分为一下哪三种：<input type="text" id="answer3" name='checkOne'  size="4" readonly>
          <br><br>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkboxOne" value="A" id="a3">
              A.概述级
            </label>
          </div><br><br>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkboxOne" value="B" id="b3">
              B.需求级
            </label>
          </div><br><br>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkboxOne" value="C" id="c3">
              C.用户目标级
            </label>
          </div><br><br>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkboxOne" value="D" id="d3">
              D.子功能级
            </label>
          </div><br><br>
          2、类图由以下哪三部分组成：<input type="text" id="answer4" name="checkTwo" size="4" readonly>
          <br><br>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkboxTwo" value="A" id="a4">
              A.名称(Name)
            </label>
          </div><br><br>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkboxTwo" value="B" id="b4">
              B.属性(Attribute)
            </label>
          </div><br><br>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkboxTwo" value="C" id="c4">
              C.操作(Operation)
            </label>
          </div><br><br>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkboxTwo" value="D" id="d4">
              D.方法(Function)
            </label>
          </div><br><br>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading h4">四、判断题</div>
        <div class="panel-body">
          1、用例图只是用于和客户交流和沟通的，用于确定需求。<br><br>
          <div class="radio">
            <label>
              <input type="radio" name="judgeOne" id="t1" value="T" >
              对
            </label>
          </div><br><br>
          <div class="radio">
            <label>
              <input type="radio" name="judgeOne" id="f1" value="F" >
              错
            </label>
          </div><br><br>
          2、在状态图中，终止状态在一个状态图中允许有任意多个。<br><br>
          <div class="radio">
            <label>
              <input type="radio" name="judgeTwo" id="t1" value="T" >
              对
            </label>
          </div><br><br>
          <div class="radio">
            <label>
              <input type="radio" name="judgeTwo" id="f1" value="F" >
              错
            </label>
          </div><br><br>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading h4">五、简答题</div>
        <div class="panel-body">
        简述什么是模型以及模型的表现形式?<br><br>
        <textarea name="textarea" class="form-control" rows="10" cols="90"></textarea>
        </div>
      </div>
      <button type="button" class="btn btn-info" id="submit">提交</button>
      <button type="button" class="btn btn-info">重置</button>
    </form>
  </div>
</body>
<script type="text/javascript" src="./eventListener.js"></script>
<script type="text/javascript" src="./answerDisplay.js"></script>
</html>
